# See https://git-scm.com/docs/gitignore for detailed pattern documentation.

# Dependencies
/node_modules

# Cypress test run output
/cypress/videos
/cypress/screenshots
/cypress-image-diff-screenshots/diff
/cypress-image-diff-screenshots/comparison
/cypress-image-diff-html-report
